.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh; /* dvh --- device height*/
  min-height: 500px;

  .hero {
    max-width: 200px;
  }
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
}
.colorMode:hover {
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.motto {
  max-width: 300px;
  margin-left: 55px;
  line-height: 1.5;
}
span {
  display: flex;
  justify-content: center;
  gap: 25px;
}

a {
  margin: 0;
  width: fit-content;
  align-self: center;
}

button {
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  border-radius: 25px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: translateY(2px);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
