.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.images{
    height: 300px;
    width: 300px;
    border-radius: 25%;
    text-align: center;
}
