.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
    h1{
        margin: 20px;
    }
    span{
        display: flex;
        align-items: center;
        gap: 2px;
        color: var(--text-color);
    }
    img{
        width: 40px;
        height: 20px;
    }
}
@media(width >= 800px){
    p{
        font-size: 80px;
    }
}